/*  h1 {
    color:pink;
}
h2 {
    color:yellow;
}
button{
    color:chartreuse;
}
body{
    background-color:#0000ff;
}
button{
    background-color:blueviolet;
}*/
*{
    color:coral
}
#heading1{
    color:aqua
}